<footer >
    <div class="container" id="bottom">
      <div class="creat">
        <h1>Stay posted</h1>
        <p>Let's be friends. Subscribe to our newsletter to receive updates on new launches, recipes, playlists, and more.</p>
        <label> Your Email Address: &nbsp;<input type="email"/> 
      </div>
      <!-- <div class="creat">
        <h2>Explore</h2>
        <li>Home</li>
        <li>Shope</li>
        <li>Membership</li>
        <li>Our story</li>
      </div> -->
      <div class="creat">
        <h2>Follow</h2>
        <i class="fab fa-facebook"></i> Facebook<br>
        <i class="fab fa-instagram"></i> Instagram<br>
        <i class="fab fa-twitter"></i> Twitter<br>
        <i class="fab fa-whatsapp"></i> whatsaap<br>
      </div>
      <div class="creat">
        <h2>Drop Us A line</h2>
        <li>HELLO@DRINK.HAUS</li>
        <li>PRESS@DRINK.HAUS</li>
        <li>PARTNERSHIPS@DRINK.HAUS</li>
        <li>jOBS@DRINK.HAUS</li>
      </div>
    </div>
      
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  
  
     
</body>
</html>