<%- include("partials/header"); -%>
<section class="section-main">
    <div class="container">
        <div class="resource row">
            <div class="col-lg-6">
                <div class="card " style="width: 16rem;">
                    <img onclick= "location.href = '/ppts_pdfs/cse/year3/AI/AI_zip.zip';" src="https://biblebase.com/wp-content/uploads/2020/10/AdobeStock_83889330.jpeg">
                    <div class="card-body">
                        <h5 class="card-title">PDFs and PPTs</h5>
                        <p class="card-text">Link to all the ppts and pdfs regarding the subject. Click on the image</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card " style="width: 16rem;">
                    <img onclick="location.href = '/ppts_pdfs/cse/year3/AI/AI_book.pdf';" src="/images/ai.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Book Recommendation</h5>
                        <p class="card-text">Recommended book for the subject. Click on the image</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div>
        <h2>Youtube References</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxCzCOWd7aiHGhOHV-nwb0HR5US5GFKFI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<%- include("partials/footer"); -%>