<%- include("partials/header"); -%>


<div class="section-main">
    <h1>We help you with your <br> Problems</h1>
    <p>one day before exam? Don't worry we got your back with all the study material </p>
  </div>
  <div class="section-box">
    <div class=" box box-1" href="/cse"><a href="/cse"><img src="images/csepage1.png" class="coverimage"></a><div class="imagecover"><h3>Computer Science</h3></div></div>

    <div class=" box box-2"><a href="/electronics"><img src="images/electronicpage1.png" class="coverimage"></a><div class="imagecover"><h3>Electronics</h3></div></div>

    <div class=" box box-3"><a href="/electrical"><img src="images/electricalpage1.png" class="coverimage"></a><div class="imagecover"><h3>Electrical</h3></div></div>

    <div class=" box box-4"><a href="/civil"><img src="images/civilpage1.png" class="coverimage"></a><div class="imagecover"><h3>Civil</h3></div></div>

    <div class=" box box-5"><a href="/mechanical"><img src="images/mechpage1.png" class="coverimage"></a><div class="imagecover"><h3>Mechanical</h3></div></div>
  </div>
</section>
  
<section class="section2">
  <h1>ABOUT UPAAYE</h1>
  <div class="section2-row row">
    <div class="section2-col col-lg-6 col-sm-12">
      <img src="https://www.thehrteam.com/wp-content/uploads/2019/10/Workplace-Team-Building.jpg" class="upaaye">
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="section2inside">
        <p><span>UPAAYE</span> as the name suggests where all your college resources are just a click away.
          UPAAYE is a solution which provide one step solution to all the queries acknowledged by student as well the faculty members. We aim to provide all the class notes, pdfs, youtube references, book links, drive link for lectures, sample report ideas and what not!</p>
      </div>
    </div>
  </div>
</section>



<section class="section3">
  <div class="container">
    <div class="section-row row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
          <img src="images/links.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Important Links</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
          <img src="images/pdfs.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PPts & PFDs</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
          <img src="images/books.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Book References</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<section id = "about" class="section2">
  <h1>Meet Our Team</h1>
  <div class="profiles">
    <div class="profile">
      <img src="images/img2.jpeg" class="profile-img">

      <h3 class="user-name">Tanya Singh</h3>
      <h5>Full Stack developer</h5>
    </div>
    <div class="profile">
      <img src="images/img1.jpeg" class="profile-img">

      <h3 class="user-name">Chavi abrol</h3>
      <h5>Full Stack developer</h5>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>