<%- include("partials/header"); -%>
<div class="section-main">
    <h1>Choose Your Subject</h1>
  </div>
  <div class="section-box">
    <div class=" subject-box box-6"><div class="textinbox">Computer Networks and Security</div></div>
    <div class=" subject-box box-7"><div class="textinbox">Software Engineering</div></div>
    <div class=" subject-box box-8"><div class="textinbox">Soft Computing</div></div>
    <div class=" subject-box box-9"><div class="textinbox">Cloud Computing</div></div>
    <div class=" subject-box box-6"><div class="textinbox">Internet Of Things</div></div>
    <div class=" subject-box box-5"><div class="textinbox">Machine Learning</div></div>
    <div class=" subject-box box-7"><div class="textinbox">Computer Networks and Security</div></div>
    <div class=" subject-box box-8"><div class="textinbox">Computer Networks and Security</div></div>
    <div class=" subject-box box-9"><div class="textinbox">Computer Networks and Security</div></div>
    <div class=" subject-box box-10"><div class="textinbox">Computer Networks and Security</div></div>
    <div class=" subject-box box-6"><div class="textinbox">Computer Networks and Security</div></div>
    <div class=" subject-box box-5"><div class="textinbox">Computer Networks and Security</div></div>
  </div>
</section>
<%- include("partials/footer"); -%>