<%- include("partials/header"); -%>
<div class="section-main">
    <h1>Choose Your Subject</h1>
  </div>
  <div class="section-box">
    <div class=" subject-box box-6"><div class="textinbox"><a href="/cse/secondyear/ITL">Introduction to Logic</a></div></div>
    <div class=" subject-box box-7"><div class="textinbox"><a href="/cse/secondyear/TOC">Theory of Computation</a></div></div>
    <div class=" subject-box box-8"><div class="textinbox"><a href="/cse/secondyear/COA">Computer Organization &Architecture</a></div></div>
    <div class=" subject-box box-9"><div class="textinbox"><a href="/cse/secondyear/OOPS">Object Oriented Programming</a></div></div>
    <div class=" subject-box box-6"><div class="textinbox"><a href="/cse/secondyear/OS">Operating Systems</a></div></div>
    <div class=" subject-box box-5"><div class="textinbox"><a href="/cse/secondyear/ES">Environmental Studies</a></div></div>
    <div class=" subject-box box-7"><div class="textinbox"><a href="/cse/secondyear/CNC">Computer Networks and Communication</a></div></div>
    <div class=" subject-box box-8"><div class="textinbox"><a href="/cse/secondyear/DBMS">Database Management Systems</a></div></div>
    <div class=" subject-box box-9"><div class="textinbox"><a href="/cse/secondyear/MI">Microprocessor and Interfacing</a></div></div>
    
  </div>
</section>
<%- include("partials/footer"); -%>