<%- include("partials/header"); -%>
<div class="section-main">
    <h1>Choose Your Subject</h1>
  </div>
  <div class="section-box">
    <div class=" subject-box box-6"><div class="textinbox"><a href="/cse/thirdyear/CD">Compiler Design</a></div></div>
    <div class=" subject-box box-7"><div class="textinbox"><a href="/cse/thirdyear/JAVA">Java Programming</a></div></div>
    <div class=" subject-box box-8"><div class="textinbox"><a href="/cse/thirdyear/AI">Artificial Intelligence</a></div></div>
    <div class=" subject-box box-9"><div class="textinbox"><a href="/cse/thirdyear/COI">Constituition of India</a></div></div>
    <div class=" subject-box box-6"><div class="textinbox"><a href="/cse/thirdyear/DM">Digital Marketing</a></div></div>
    <div class=" subject-box box-5"><div class="textinbox"><a href="/cse/thirdyear/PE">Professional Ethics</a></div></div>
    <div class=" subject-box box-7"><div class="textinbox"><a href="/cse/thirdyear/WTG">Waste to Energy</a></div></div>
    <div class=" subject-box box-8"><div class="textinbox"><a href="/cse/thirdyear/NNFS">Neural Network & Fuzzy Set</a></div></div>
    <div class=" subject-box box-9"><div class="textinbox"><a href="/cse/thirdyear/CC">Cloud Computing</a></div></div>
    <div class=" subject-box box-10"><div class="textinbox"><a href="/cse/thirdyear/SC">Soft Computing</a></div></div>
    <div class=" subject-box box-6"><div class="textinbox"><a href="/cse/thirdyear/SE">Software Engineering</a></div></div>
    <div class=" subject-box box-5"><div class="textinbox"><a href="/cse/thirdyear/CNS">Computer Networks and Security</a></div></div>
    <div class=" subject-box box-5"><div class="textinbox"><a href="/cse/thirdyear/IOT">Internet Of Things</a></div></div>
    <div class=" subject-box box-5"><div class="textinbox"><a href="/cse/thirdyear/ML">Machine Learning</a></div></div>
  </div>
</section>
<%- include("partials/footer"); -%>