<%- include("partials/header"); -%>
<div class="section-main">
    <h1>Select The Year</h1>
  </div>
  <div class="section-box">
    <div class="year-main-box">
        <a href="/electrical/firstyear"><div class=" year-box box-1"><div class="textinbox">1st Year</div></div></a>

        <a href="/electrical/secondyear"><div class=" year-box box-3" ><div class="textinbox">2nd Year </div></div></a>
    </div>

    <div class="year-main-box">
        <a href="/electrical/thirdyear"><div class=" year-box box-5" ><div class="textinbox">3rd Year </div></div></a>
        <a href="/electrical/fourthyear"><div class=" year-box box-4"><div class="textinbox">4th Year </div></div></a>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>